* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

img	{ 
	vertical-align: middle;
 }
 .clearfix {
 	clear: both;
 }



.container {
	width: 1130px;
	margin: 0 auto;
}

button {
	border: none;
}

input, textarea {
	outline: none;
}


/*header*/



#main_header {
	position: relative;

	background-color: #ffffff;
}

#main_header .search_area {
	display: flex;
	justify-content: center;
	align-items: center;
	
	/*flexbox.help*/
	
	position: relative;

	height: 160px;
	background-color: #ffffff;
.
	border-bottom: 1px solid #e4e8eb;

	
}


#main_header .search_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;


	position: relative;
	width: 582px;
	height: 52px;
	border: 2px solid #19ce60;
}
/*calc - inpunt의 100%에서 button의 width뺀값, inline특성상 미세한 공백이 있어서 동일선상에 없음
동일선상에 두려면 flexbox.help (위에 있음)*/
#main_header .search_wrap input {
	width: calc(100% - 52px);
	height: 100%;

	padding: 13px 15px;

	font-size: 22px;

	border: none;

}
/*input클릭 시 생기는 테두리(자동으로 포커싱이되는)없애기 위해서 가상선택자 사용*/
#main_header .search_wrap input:focus {
	outline: none;
}

#main_header .search_wrap button {
	width: 52px;
	height: 100%;
	background-color: #19ce60;
}


/*navbar*/
/*box shadow - 어떠한 공간의 그림자효과, 각 숫자는 그림자 위치, 속성
box shadow css generator*/
#main_header #navbar {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}


#main_header #navbar ul {
	padding: 11px 0;
}

#main_header #navbar li {
	display: inline-block;

	margin-right: 5px;
}


#main_header #navbar ul li a {
	color: #03c75a;
	font-size: 15px;
	font-weight: 700;
}

/*main*/
/*main에 overflow hidden을 주면 자식의 높이값을 받을 수 있다. 따로 지정 안해줘도 됨*/
main {
	overflow: hidden;

	padding-top: 20px;
	/*or header에 margin-bottom줘도 됨*/
}

main #main_left {
	float: left;

	width: 750px;
	/*height: 2000px;*/

	/*background-color: yellow;*/
}

main #main_right {
	float: right;

	width: 350px;
	/*height: 2000px;*/

	/*background-color: yellow;*/

}


main #banner_wrap {
	width: 750px;
	height: 135px;
	background-color: #000000;

	margin-bottom: 12px;
}

main #news_wrap .news_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	

	padding: 22px 0 16px 0;
}


main #news_wrap .news_header h2 {
	font-size: 14px ;
	font-weight: 700;
}

main #news_wrap .news_header .news_btn_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	width: 60px;

}

main #news_wrap .news_header .news_btn_wrap button {
	width: 15px;
	height: 15px;
	background-color: blue;
}


main #news_wrap .news_lists {
	overflow: hidden;

	border: solid 1px #dae1e6;
}

main #news_wrap .news_lists .news_list {
	position: relative;

	float: left;

	width: 16.66%;
	height: 65px;

	background-color: #ffffff;

	border-bottom: solid 1px #e4e8eb;
	border-right: solid 1px #e4e8eb;

	text-align: center;
}

main #news_wrap .news_lists .news_list:nth-child(6),
main #news_wrap .news_lists .news_list:nth-child(12),
main #news_wrap .news_lists .news_list:nth-child(18),
main #news_wrap .news_lists .news_list:nth-child(24) {
	border-right: none ;
}

/*
or

main #news_wrap .news_lists .news_list:nth-child(6n)
 {
	border-right: none ;
}
*/
main #news_wrap .news_lists .news_list:nth-child(19),
main #news_wrap .news_lists .news_list:nth-child(20),
main #news_wrap .news_lists .news_list:nth-child(21),
main #news_wrap .news_lists .news_list:nth-child(22),
main #news_wrap .news_lists .news_list:nth-child(23),
main #news_wrap .news_lists .news_list:nth-child(24) {
	border-bottom: none ;
}



main #news_wrap .news_lists .news_list img {
	position: relative;

	top: 50%;
	transform: translateY(-50%);
}


/*blog_wrap*/

main #blog_wrap {
	padding-top: 35px ;
}
main #blog_wrap .blog_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 17px;
	
}

main #blog_wrap .blog_header .left_header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}
main #blog_wrap .blog_header .left_header h3 {
	font-size: 14px;
	margin-right: 8px;
}
main #blog_wrap .blog_header .left_header span {
	font-size: 12px;
	color: gray;
}
main #blog_wrap .blog_header .right_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

main #blog_wrap .blog_header .right_header span {
	font-size: 12px;
	color: gray;
}

main #blog_wrap .blog_header .right_header .count strong {
	color: #000000;
}
main #blog_wrap .blog_nav ul {
	overflow: hidden;

	border: solid 1px #dae1e6;
}
main #blog_wrap .blog_nav ul li {
	float: left;
	width: 12.5%;
	height: 49px;

	border-right: solid 1px #dae1e6;

}
main #blog_wrap .blog_nav ul li:last-child {
	border: none;
}
/*공간의 높이값이 있는 경우 line height와 동일한 값을 넣으면 y축 중앙정렬*/
main #blog_wrap .blog_nav ul li a {
	display: block;
	width: 100%;
	height: 100%;

	line-height: 49px;
	text-align: center;

}
main #blog_wrap .blog_list_wrap {
	padding-top: 18px ;
	border-bottom: solid 1px #dae1e6;
}
main #blog_wrap .blog_list_wrap li {
	margin-bottom: 18px ;
}


main #blog_wrap .blog_list_wrap li a {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

main #blog_wrap .blog_list_wrap li a img {
	width: 170px;
	height: 114px;

	margin-right: 21px;
}

main #blog_wrap .blog_list_wrap li .blog_list_info {
	width: 559px;

	padding-right: 47px;
}

main #blog_wrap .blog_list_wrap li .blog_list_info span {
	font-size: 12px;
	color: #35ae5e;

}

main #blog_wrap .blog_list_wrap li .blog_list_info h4 {
	font-size: 13px;

}

main #blog_wrap .blog_list_wrap li .blog_list_info p {
	font-size: 13px;
}
main #blog_wrap .blog_list_wrap li .blog_list_info .date_wrap span {
 	color: #505050;	
}



main #blog_wrap .blog_media_wrap ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 18px 0;
	border-bottom: solid 1px #dae1e6;
}


main #blog_wrap .blog_media_wrap ul .blog_media_info {
	padding-top: 12px;
}

main #blog_wrap .blog_media_wrap ul .blog_media_info h4 {
	font-size:13px ;
}

main #blog_wrap .blog_media_wrap ul .blog_media_infospan {
	font-size:12px ;
}


/*main_Right*/


#main_right #account {
	width: 100%;
	border: 1px solid #dae1e6;
	padding: 16px 16px 12px 17px;

	margin-bottom: 12px;
}

#main_right #account p {
	font-size: 12px;
	padding-left: 3px;
	margin-bottom: 11px;
}
/*크기를 만들어주기 위해 inline요소인 a를 block으로 변경*/
#main_right #account a {
	display: block;
	width: 100%;
	background-color: #19ce60;
	border-radius: 2px;

	padding: 15px 0;
	margin-bottom: 14px;

	text-align: center;
	font-size: 13px;
	color: #ffffff;
	font-weight: 700;

}

#main_right #account .account_sub {
	padding: 0 8px;

	display: flex;
	justify-content: space-between;
	align-items: center;

}

#main_right #account .account_sub span {
	font-size: 12px;
}

#main_right #banner {
	width: 348px;
	height: 198px;
	background-color: #000000;

	margin-bottom: 20px;
}



#main_right #shop_wrap .shop_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 12px 0;

}

#main_right #shop_wrap .shop_title h3,
#main_right #shop_wrap .shop_title h4 {
	font-size: 13px;
}

#main_right #shop_wrap .shop_title h4 {
	margin-left: 15px;
}

#main_right #shop_wrap .shop_title .right {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	
}

#main_right #shop_wrap .shop_content {
	border: solid 1px #e4e8eb;
	padding: 0 0 22px;
}

#main_right #shop_wrap .shop_content .shop_goods {
	padding: 55px 8px;
}



/*갯수가 안맞으면 어색할 수도 있음 float;left사용 가능*/
#main_right #shop_wrap .shop_content .commerce_lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	padding: 12px 4px;
	background-color: #f7f9fa;
	border-bottom: solid 1px #dae1e6;
}

#main_right #shop_wrap .shop_content .commerce_lists li {
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#main_right #shop_wrap .shop_content .commerce_lists li:nth-child(1),
#main_right #shop_wrap .shop_content .commerce_lists li:nth-child(8) {
	margin-left: 0;
}

#main_right #shop_wrap .product_lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#main_right #shop_wrap .product_lists li {
	margin-bottom: 10px;
}


#main_right #shop_wrap .product_lists .product_info {
	text-align: center;
}

#main_right #shop_wrap .product_lists h3,
#main_right #shop_wrap .product_lists span {
	font-size: 12px;
}






#main_footer {
	background-color: #fafbfc;
	border-top: solid 1px #e4e8eb;
	padding-bottom: 92px;
}

#main_footer .news_lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	

	padding: 24px 0;



}

#main_footer .news_lists li {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

#main_footer .news_lists li img {
	margin-right: 15px;
}

#main_footer .news_lists li .news_info {
	width: 172px;
}

#main_footer .news_lists li .news_info span,
#main_footer .news_lists li .news_info h3,
#main_footer .news_lists li .news_info p{
	font-size: 13px;
}
#main_footer .news_lists li .news_info span {
	color: #58c464;
}

#main_footer .corp_lists {
	padding-top: 25px;
	border-top: solid 1px #e4e8eb;
}

#main_footer .corp_lists li {
	display: inline-block;
	vertical-align: middle;
}

#main_footer .corp_lists li a {
	font-size: 12px;
}
#main_footer .corp_lists li:first-child:before {
	content: initial;
}
/*빈 내용물*/
#main_footer .corp_lists li:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 11px;
	margin: 0 8px;
	background-color: #e4e8eb;
/*숫자를 넣을 수 있음 -를 넣으면 밑으로 */
	vertical-align: -1px;
}



/*쇼핑 페이지*/
#shop_body {
	background-color: #e9ecef;
}
.shop_container {
	width: 1300px;
	margin: 0 auto;
}

.shop_border {
	border: solid 1px #ced2d7;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}







#shop_header #shop_header_top {
	width: 100%;
	height: 36px;
	background-color: #03c75a;

	border-bottom: solid 1px #e8e8e8;
}

#shop_header #shop_header_middle {
	width: 100%;
	height: 66px;
	background-color: #03c75a;

	border-bottom: solid 1px #e8e8e8;
}


#shop_header nav {
	width: 100%;
	border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8;

	background-color: #ffffff;
}
/*ul에 하는지 li에 하는지 헷갈렸음*/
#shop_header nav ul {
	padding: 13px 0 8px 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

}

#shop_header nav ul li {
	margin: 16px;
}



#shop_main .list_wrap {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;

}
/*padding top적용한적 없지만 같은 css파일을 공유하고 있기 때문에 네이버 메인에서 적용한게 적용이 됨*/
#shop_main .list_item {
	position: relative;

	width: 308px;
	height: 496px;
	/*background-color: #ffffff;*/

	margin-bottom: 20px;
}
/*배너를 갖고 있는 영역에 이미지가 있는 경우*/
#shop_main .list_item.banner img {
	width: 100%;
	height: 100%;
}
#shop_main .list_item .category_wrap {
	overflow: hidden;
}


#shop_main .list_item .category_wrap .category_left {
	float: left;

	width: 124px;
	height: 100%;

	background-color: #333949;
}

#shop_main .list_item .category_wrap .category_left h3 {
	font-size: 13px;
	color: rgba(255,255,255,0.46);

	padding: 14px 0 14px 13px ;
	border-bottom: 1px solid #2b313f;
}

#shop_main .list_item .category_wrap .category_left ul {


}

#shop_main .list_item .category_wrap .category_left li {


}

#shop_main .list_item .category_wrap .category_left a {
	display: block;

	padding: 7px 8px;
	font-size: 13px;
	color: rgba(255,255,255,0.46);
	font-weight: 700;

}





#shop_main .list_item .category_wrap .category_right {
	float: right;

	width: 182px;
	height: 100%;

	background-color: #ffffff;
} 

/*여기에 textalign center하나만 넣어주면 한번에 중앙정렬이됨*/
#shop_main .list_item .category_wrap .category_right_top {
	width: 100%;
	height: 306px;
	border-bottom: solid 1px #e7e7e7;
}

#shop_main .list_item .category_wrap .category_right_top .category_info {
	padding: 20px 0;
	text-align: center;

}

#shop_main .list_item .category_wrap .category_right_top .headline,
#shop_main .list_item .category_wrap .category_right_bottom .headline {
	font-size: 12px;
	border: solid 1px #00ab33;
	color: #00ab33;
	/*span태그는 inline요소라서 margin-bottom 적용이 안되기 때문에 변경해줌*/
	display: inline-block;
	margin-bottom: 7px;
}

#shop_main .list_item .category_wrap .category_right_top .category_info h3 {
	font-size: 18px;
}
#shop_main .list_item .category_wrap .category_right_top .category_info .price {
	font-size: 16px;
	color: skyblue;
}
/*img를 정중앙정렬 하기 위해div로 감싸줌*/
#shop_main .list_item .category_wrap .category_right_top .img_wrap {
	text-align: center;
}



#shop_main .list_item .category_wrap .category_right_bottom {
	text-align: center;

	padding-top: 20px;
}

/*안에 잇는 컨텐츠로 width를 대신한다 라는 ㄸ뜻,최대 값 정해주면 됨
안에 있는 값들이 감싸고 있는 틀의 width보다 크다면 자동으로 줄바꿈 현상이 된다
y축 정렬의 효과*/
#shop_main .list_item .category_wrap .category_right_bottom .tag {
	display: inline-block;

	width: auto;
	max-width: 80px;
	background-color: #e8eef4;
	height: 24px;

	line-height: 26px;
	font-size: 12px;
	color: #666;
	vertical-align: top;

	padding: 0 5px;
	margin: 6px 1px 0 1px;


}




#shop_main .list_item .list_half {
	width: 100%;
	height: 240px;

	background-color: #ffffff;
}


#shop_main .list_item .list_half.list_half_top {
	position: absolute;
	left: 0;
	top: 0;


}

#shop_main .list_item .list_half.list_half_bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	
} 



#shop_main .list_item .list_half .list_half_header {
	position: relative;

	width: 100%;	
	height: 62px;
	background-color: #ffffff;

	text-align: center;

	border-bottom: solid 1px #e7e7e7;
	padding-top: 10px;
}
#shop_main .list_item .list_half .list_half_header .headline {
	display: inline-block;
	border: solid 1px #000000;
	padding: 2px 4px;
	margin-bottom: 5px;
}

#shop_main .list_item .list_half .list_half_header .headline h3 {
	font-size: 14px;
}

/*overlay(앞이)가 3차원, 백화점 상품 그대로(뒤)가 3차원 이면 뒤에 나온 3차원이 위로 배치가 */
#shop_main .list_item .list_half .list_half_header .half_overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#shop_main .list_item .list_half .list_half_header.list_half_bg{
	background-color: yellow;

	padding-top:0 ;
	border-bottom: solid 1px #ffffff;
}

#shop_main .list_item .list_half .list_half_header.list_half_bg .shop_title_border {
	position: relative;

	display: inline-block;

	border: solid 1px #ffffff;
	color: #ffffff;
	/*font-size: 14px;*/

	padding:2px 4px;
	top: 50%;
	transform: translateY(-50%);
}





#shop_main .list_item .list_half .content_lists {
	overflow: hidden;
}

#shop_main .list_item .list_half .content_lists.content_lists_3 li {
	float: left;
	width: 33.33%;
	height: 177px;
	border-right: solid 1px #f0f0f0;

	text-align: center;
}


#shop_main .list_item .list_half .content_lists.content_lists_3 li:list-child {
	border-right: none;

}

#shop_main .list_item .list_half .content_lists.content_lists_3 li img {
	width: 100%;
	height: 100px;

	margin-bottom: 5px;
}

#shop_main .list_item .list_half .content_lists.content_lists_3 li h3 {
	font-size: 13px;
	margin-bottom: 5px;
}
#shop_main .list_item .list_half .content_lists.content_lists_3 li span {
	font-size: 12px;
}






#shop_main .list_item .list_half .content_lists.content_lists_2 {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;

	padding-top: 11px;

}

#shop_main .list_item .list_half .content_lists.content_lists_2 li {
	width: 130px;
	height: 150px;
	margin-right: 8px;
}

#shop_main .list_item .list_half .content_lists.content_lists_2 li:last-child {
	margin-right: 0;
}

#shop_main .list_item .list_half .content_lists.content_lists_2 li .content_image_wrap {
	position: relative;
	width: 130px;
	height: 90px;
}

#shop_main .list_item .list_half .content_lists.content_lists_2 li .content_image_wrap img {
	position: absolute;
	width: 100%;
	height: 100%;
}

#shop_main .list_item .list_half .content_lists.content_lists_2 li .content_image_wrap .discount {
	position: absolute;
	display: block;

	width: 42px;
	height: 42px;
	background-color: orange;
	border-radius: 50%;

	font-size: 13px;
	color: #ffffff;

	line-height: 42px;
	text-align: center;

	top: 6px;
	right: 5px;
}

#shop_main .list_item .list_half .content_lists.content_lists_2 li h3 {
	font-size: 13px;

}



#shop_main .list_item .list_half .content_lists.content_lists_2 li .price {
	color: #62a7ee;
	font-size: 12px;

}

/*em태그는 태생적으로 폰트의 스타일이 이탤릭체, 기울어짐*/
#shop_main .list_item .list_half .content_lists.content_lists_2 li .price em {
	font-size: 14px;
	font-weight: 700;
	/*bold사용 가능*/
	font-style: normal;
}
#shop_main .list_item .list_row_3 {
	background-color: #ffffff;

	border-top: none;
}

#shop_main .list_item .list_row_3 li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;


	border-bottom: solid 1px #f0f0f0;
	padding: 14px 19px 11px 19px;

}

#shop_main .list_item .list_row_3 li:last-child {
	border-bottom: none;
}

#shop_main .list_item .list_row_3 li .list_image_wrap {
	width: 90px;
	height: 60px;

	margin-right: 10px;
}


#shop_main .list_item .list_row_3 li .list_image_wrap img {
	width: 100%;
	height: 100%;
}
#shop_main .list_item .list_row_3 li .list_row_info span {
	font-size: 12px;
}

#shop_main .list_item .list_row_3 li .list_row_info h3 {
	font-size: 13px;
}


#shop_main .brand_wrap {
	background-color: #ffffff;
}


#shop_main .brand_wrap .brand_lists{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;


	padding: 18px 18px;
}

#shop_main .brand_wrap .brand_lists li {
	width: 64px;
	height: 64px;
}

#shop_main .brand_wrap .brand_lists li img {
	width: 100%;
	height: 100%;
}





/*footer*/

#shop_footer {
	padding-bottom: 180px;

	text-align: center;
}


#shop_footer .policy_wrap {
	border-top: solid 2px #5d5d5d;
	padding-top: 27px;
	margin-bottom: 11px;
}

#shop_footer .policy_wrap span {

	font-size: 12px;
}

#shop_footer p {
	font-size: 12px;
	color: #888;
	margin-bottom: 11px;
}

#shop_footer .policy_wrap span:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 11px;
	margin: 0 8px;
	background-color: #d7d7d7;
	vertical-align: -1;
}

#shop_footer .policy_wrap span:first-child:before {
	content: initial;
}


/*https://pixabay.com/ko/
https://unsplash.com/
*/








